<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="font-serif text-gray-900 bg-gray-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <script type="text/javascript" src="{{ "/assets/js/custom.js" | relative_url }}"></script>
  </head>
  <body>
    {% include nav.html %}
    {% include hero.html %}

    <div class="container">
      <article class="prose lg:prose-xl mx-auto p-4">
        {{ content }}
      </article>
    </div>

    {% include footer.html %}
  </body>
</html>
